# OLD Turtle_1: [include mcu/AFC_Lite.cfg]
# OLD Turtle_1: 
# OLD Turtle_1: [mcu Turtle_1]
# OLD Turtle_1: canbus_uuid: 8a17d83bc5e7
# OLD Turtle_1: # serial: /dev/serial/by-id/usb-Klipper_rp2040_504450612827731C-if00
# OLD Turtle_1: 
# OLD Turtle_1: [AFC_BoxTurtle Turtle_1]
# OLD Turtle_1: hub: Turtle_1
# OLD Turtle_1: extruder: extruder
# OLD Turtle_1: enable_assist: True        # Setting to True enables espooler assist while printing
# OLD Turtle_1: enable_kick_start: True    # Setting to True enables full speed espoolers for kick_start_time(0.070 ms default) amount
# OLD Turtle_1: # buffer: <buffer_name> # If not defined below from the install script, uncomment and add buffer name if using a buffer
# OLD Turtle_1: buffer: Turtle_1
# OLD Turtle_1: 
# OLD Turtle_1: [temperature_sensor Turtle_1]
# OLD Turtle_1: sensor_type: temperature_mcu
# OLD Turtle_1: sensor_mcu: Turtle_1
# OLD Turtle_1: 
# OLD Turtle_1: [AFC_stepper lane1]
# OLD Turtle_1: unit: Turtle_1:1
# OLD Turtle_1: step_pin: Turtle_1:M1_STEP
# OLD Turtle_1: dir_pin: !Turtle_1:M1_DIR
# OLD Turtle_1: enable_pin: !Turtle_1:M1_EN
# OLD Turtle_1: microsteps: 16
# OLD Turtle_1: rotation_distance: 4.65
# OLD Turtle_1: dist_hub: 155.0
# OLD Turtle_1: park_dist: 10
# OLD Turtle_1: led_index: AFC_Indicator:1
# OLD Turtle_1: # afc_motor_rwd: Turtle_1:MOT1_RWD
# OLD Turtle_1: # afc_motor_fwd: Turtle_1:MOT1_FWD
# OLD Turtle_1: # afc_motor_enb: Turtle_1:MOT1_EN
# OLD Turtle_1: # rwd_speed_multiplier: 0.5
# OLD Turtle_1: # fwd_speed_multiplier: 0.5
# OLD Turtle_1: # pwm: True
# OLD Turtle_1: # hardware_pwm: True
# OLD Turtle_1: # prep: ^!Turtle_1:TRG1
# OLD Turtle_1: # load: ^Turtle_1:EXT1
# OLD Turtle_1: 
# OLD Turtle_1: [tmc2209 AFC_stepper lane1]
# OLD Turtle_1: uart_pin: Turtle_1:M1_UART
# OLD Turtle_1: uart_address: 0
# OLD Turtle_1: run_current: 0.8
# OLD Turtle_1: sense_resistor: 0.110
# OLD Turtle_1: 
# OLD Turtle_1: [AFC_stepper lane2]
# OLD Turtle_1: unit: Turtle_1:2
# OLD Turtle_1: step_pin: Turtle_1:M2_STEP
# OLD Turtle_1: dir_pin: !Turtle_1:M2_DIR
# OLD Turtle_1: enable_pin: !Turtle_1:M2_EN
# OLD Turtle_1: microsteps: 16
# OLD Turtle_1: rotation_distance: 4.65
# OLD Turtle_1: dist_hub: 80
# OLD Turtle_1: park_dist: 10
# OLD Turtle_1: led_index: AFC_Indicator:2
# OLD Turtle_1: # afc_motor_rwd: Turtle_1:MOT2_RWD
# OLD Turtle_1: # afc_motor_fwd: Turtle_1:MOT2_FWD
# OLD Turtle_1: # afc_motor_enb: Turtle_1:MOT2_EN
# OLD Turtle_1: # rwd_speed_multiplier: 0.5
# OLD Turtle_1: # fwd_speed_multiplier: 0.5
# OLD Turtle_1: # pwm: True
# OLD Turtle_1: # hardware_pwm: True
# OLD Turtle_1: # prep: ^!Turtle_1:TRG2
# OLD Turtle_1: # load: ^Turtle_1:EXT2
# OLD Turtle_1: 
# OLD Turtle_1: [tmc2209 AFC_stepper lane2]
# OLD Turtle_1: uart_pin: Turtle_1:M2_UART
# OLD Turtle_1: uart_address: 0
# OLD Turtle_1: run_current: 0.8
# OLD Turtle_1: sense_resistor: 0.110
# OLD Turtle_1: 
# OLD Turtle_1: # [AFC_stepper lane3]
# OLD Turtle_1: # unit: Turtle_1:3
# OLD Turtle_1: # step_pin: Turtle_1:M3_STEP
# OLD Turtle_1: # dir_pin: !Turtle_1:M3_DIR
# OLD Turtle_1: # enable_pin: !Turtle_1:M3_EN
# OLD Turtle_1: # microsteps: 16
# OLD Turtle_1: # rotation_distance: 4.65
# OLD Turtle_1: # dist_hub: 90.0
# OLD Turtle_1: # park_dist: 10
# OLD Turtle_1: # led_index: AFC_Indicator:3
# OLD Turtle_1: # afc_motor_rwd: Turtle_1:MOT3_RWD
# OLD Turtle_1: # afc_motor_fwd: Turtle_1:MOT3_FWD
# OLD Turtle_1: # afc_motor_enb: Turtle_1:MOT3_EN
# OLD Turtle_1: # rwd_speed_multiplier: 0.5
# OLD Turtle_1: # fwd_speed_multiplier: 0.5
# OLD Turtle_1: # pwm: True
# OLD Turtle_1: # hardware_pwm: True
# OLD Turtle_1: # prep: ^!Turtle_1:TRG3
# OLD Turtle_1: # load: ^Turtle_1:EXT3
# OLD Turtle_1: 
# OLD Turtle_1: # [tmc2209 AFC_stepper lane3]
# OLD Turtle_1: # uart_pin: Turtle_1:M3_UART
# OLD Turtle_1: # uart_address: 0
# OLD Turtle_1: # run_current: 0.8
# OLD Turtle_1: # sense_resistor: 0.110
# OLD Turtle_1: 
# OLD Turtle_1: # [AFC_stepper lane4]
# OLD Turtle_1: # unit: Turtle_1:4
# OLD Turtle_1: # step_pin: Turtle_1:M4_STEP
# OLD Turtle_1: # dir_pin: !Turtle_1:M4_DIR
# OLD Turtle_1: # enable_pin: !Turtle_1:M4_EN
# OLD Turtle_1: # microsteps: 16
# OLD Turtle_1: # rotation_distance: 4.65
# OLD Turtle_1: # dist_hub: 145.0
# OLD Turtle_1: # park_dist: 10
# OLD Turtle_1: # led_index: AFC_Indicator:4
# OLD Turtle_1: # afc_motor_rwd: Turtle_1:MOT4_RWD
# OLD Turtle_1: # afc_motor_fwd: Turtle_1:MOT4_FWD
# OLD Turtle_1: # afc_motor_enb: Turtle_1:MOT4_EN
# OLD Turtle_1: # rwd_speed_multiplier: 0.5
# OLD Turtle_1: # fwd_speed_multiplier: 0.5
# OLD Turtle_1: # pwm: True
# OLD Turtle_1: # hardware_pwm: True
# OLD Turtle_1: # prep: ^!Turtle_1:TRG4
# OLD Turtle_1: # load: ^Turtle_1:EXT4
# OLD Turtle_1: 
# OLD Turtle_1: # [tmc2209 AFC_stepper lane4]
# OLD Turtle_1: # uart_pin: Turtle_1:M4_UART
# OLD Turtle_1: # uart_address: 0
# OLD Turtle_1: # run_current: 0.8
# OLD Turtle_1: # sense_resistor: 0.110
# OLD Turtle_1: 
# OLD Turtle_1: [AFC_hub Turtle_1]
# OLD Turtle_1: switch_pin: ^Turtle_1:HUB   # Pin for the hub switch
# OLD Turtle_1: afc_bowden_length: 1725     # Length of the Bowden tube from the hub to the toolhead sensor in mm.
# OLD Turtle_1: move_dis: 75                # Distance to move the filament within the hub in mm.
# OLD Turtle_1: #hub_clear_move_dis: 65     # Distance after hub switch becomes fast to retract to insure hub is clear
# OLD Turtle_1: cut: False                  # Hub cutter installed (e.g. Snappy)
# OLD Turtle_1: 
# OLD Turtle_1: #--=================================================================================--#
# OLD Turtle_1: ######### Hub Cut #####################################################################
# OLD Turtle_1: #--=================================================================================--#
# OLD Turtle_1: assisted_retract: False     # If True, retracts are assisted to prevent loose windows on the spool
# OLD Turtle_1: cut_cmd: AFC #CMD to use
# OLD Turtle_1: cut_dist: 50                # How much filament to cut off (in mm).
# OLD Turtle_1: cut_clear: 120              # How far the filament should retract back from the hub (in mm).
# OLD Turtle_1: cut_min_length: 300.0
# OLD Turtle_1: cut_servo_pass_angle: 10    # Servo angle to align the Bowden tube with the hole for loading the toolhead.
# OLD Turtle_1: cut_servo_clip_angle: 180   # Servo angle for cutting the filament.
# OLD Turtle_1: cut_servo_prep_angle: 80    # Servo angle to prepare the filament for cutting (aligning the exit hole).
# OLD Turtle_1: 
# OLD Turtle_1: #[AFC_screen Turtle_1]
# OLD Turtle_1: #mac_address: None
# OLD Turtle_1: 
# OLD Turtle_1: [AFC_led AFC_Indicator]
# OLD Turtle_1: pin: Turtle_1:RGB1
# OLD Turtle_1: chain_count: 4
# OLD Turtle_1: color_order: GRBW
# OLD Turtle_1: 
# OLD Turtle_1: #[neopixel Extra2]
# OLD Turtle_1: #pin: Turtle_1:RGB2
# OLD Turtle_1: #chain_count: 6
# OLD Turtle_1: #color_order: GRB
# OLD Turtle_1: 
# OLD Turtle_1: #[neopixel Extra3]
# OLD Turtle_1: #pin: Turtle_1:RGB3
# OLD Turtle_1: #chain_count: 6
# OLD Turtle_1: #color_order: GRB
# OLD Turtle_1: 
# OLD Turtle_1: #[neopixel Extra4]
# OLD Turtle_1: #pin: Turtle_1:RGB4
# OLD Turtle_1: #chain_count: 4
# OLD Turtle_1: #color_order: GRB
