[board_pins longboi]
mcu: longboi
aliases:
    M1_STEP=PC8     , M1_DIR=PC7    , M1_EN=PA15    , M1_UART=PA9   , M1_DIAG=PA10  ,
    M2_STEP=PC11    , M2_DIR=PC10   , M2_EN=PD1     , M2_UART=PC12  , M2_DIAG=PD0   ,
    M3_STEP=PE12    , M3_DIR=PE11   , M3_EN=PE15    , M3_UART=PE13  , M3_DIAG=PE14  ,
    M4_STEP=PB11    , M4_DIR=PB10   , M4_EN=PB14    , M4_UART=PB12  , M4_DIAG=PB13  ,

    # suggested switch pin configurations
    HUB=PD3         , 
    TRG1=PD7        , TRG2=PB6      , TRG3=PE9      , TRG4=PC5      ,
    EXT1=PB5        , EXT2=PB7      , EXT3=PA6      , EXT4=PC4      ,
    TN_ADV=PD4      , TN_TRL=PD5    ,
    
    # alternate names for endstop ports
    S1=PD7          , S2=PB5        , S3=PB6        , S4=PB7        ,
    S5=PE9          , S6=PA6        , S7=PC5        , S8=PC4        ,
    S9=PD4          , S10=PD4       , S11=PD5       , S12=PD6       ,
    S13=PE7         , S14=PB2       , S15=PB1       , S16=PE10      ,
    
    # Thermister
    TH0=PA0         ,
    
    # Outputs
    O1=PD11         , O2=PD10       , O3=PD9        ,

    # I2C
    I2C=i2c5        ,
    # Uncomment PSF define below for PSF sensor, since the ADC pins are the Trigger pins you need
    # to rearrange your connectors and config. Easiest thing do change would be to
    # user the hub pin for the PSF sensor and then put the hub on either the turtleneck
    # trailing/advancing connector. Make sure this config is updated to reflect your changes.
    #
    # The following pins are all ADC pins on the AFC-Lite board
    # SW1(PC4), SW2(PC5), SW3(PB0), SW4(PB1) 
    #PSF=PC4,
    
	# n20 Motors
    MOT1_RWD=PD14   , MOT1_FWD=PC6  , MOT1_EN=PD15  ,
    MOT2_RWD=PB3    , MOT2_FWD=PB4  , MOT2_EN=PD2   ,
    MOT3_RWD=PA7    , MOT3_FWD=PB0  , MOT3_EN=PE8   ,
    MOT4_RWD=PD12   , MOT4_FWD=PD13 , MOT4_EN=PB15  ,
	
    # RGB
    RGB1=PE0        , RGB2=PE1      , RGB3=PA5      , RGB4=PA4      ,
    RGB5=PD8
